Repository iotaledger/identity, pull requests merged in 2021-09, with the labels that each got.

#375 Refactor `NetworkName`
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/browser/private_tangle.js
  bindings/wasm/examples/node/private_tangle.js
  bindings/wasm/src/did/wasm_document.rs
  bindings/wasm/src/tangle/network.rs
  examples/account/private_tangle.rs
  examples/low-level-api/private_tangle.rs
  identity-account/src/account/builder.rs
  identity-account/tests/commands.rs
  identity-iota/src/did/doc/iota_verification_method.rs
  identity-iota/src/did/macros.rs
  identity-iota/src/did/url/iota_did.rs
  identity-iota/src/tangle/client_builder.rs
  identity-iota/src/tangle/client_map.rs
  identity-iota/src/tangle/mod.rs
  identity-iota/src/tangle/network.rs
  identity/src/lib.rs
Labels: Improvement

#369 Add build step for Wasm examples
  .github/workflows/build-and-test.yml
  .github/workflows/examples.yml
  bindings/wasm/cypress/integration/browser_test.js
  bindings/wasm/examples/.gitignore
  bindings/wasm/examples/README.md
  bindings/wasm/examples/browser/create_vc.js
  bindings/wasm/examples/browser/create_vp.js
  bindings/wasm/examples/browser/diff_chain.js
  bindings/wasm/examples/browser/main.js
  bindings/wasm/examples/browser/mainpulate_did.js
  bindings/wasm/examples/browser/merkle_key.js
  bindings/wasm/examples/browser/resolve.js
  bindings/wasm/examples/browser/resolve_history.js
  bindings/wasm/examples/browser/utils.js
  bindings/wasm/examples/node/create_did.js
  bindings/wasm/examples/node/private_tangle.js
  bindings/wasm/examples/node/revoke_vc.js
  bindings/wasm/examples/src/config.js
  bindings/wasm/examples/src/create_did.js
  bindings/wasm/examples/src/create_vc.js
  bindings/wasm/examples/src/create_vp.js
  bindings/wasm/examples/src/diff_chain.js
  bindings/wasm/examples/src/index.html
  bindings/wasm/examples/src/manipulate_did.js
  bindings/wasm/examples/src/merkle_key.js
  bindings/wasm/examples/src/node.js
  bindings/wasm/examples/src/private_tangle.js
  bindings/wasm/examples/src/resolution.js
  bindings/wasm/examples/src/resolve_history.js
  bindings/wasm/examples/src/revoke_vc.js
  bindings/wasm/examples/src/test.js
  bindings/wasm/examples/src/utils.js
  bindings/wasm/examples/src/utils_web.js
  bindings/wasm/examples/src/web.js
  bindings/wasm/examples/webpack.config.js
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  bindings/wasm/yarn.lock
Labels: WASM

#372 Content for create did, replit improvements
  documentation/docs/getting-started/decentralized_identifiers/create.md
  documentation/docs/getting-started/decentralized_identifiers/create.mdx
  documentation/docs/getting-started/decentralized_identifiers/manage.md
  documentation/docs/getting-started/decentralized_identifiers/overview.md
  documentation/sidebars.js
  documentation/src/components/CodeSnippetComponent/index.js
Labels: Documentation

#401 Add document merge to wasm bindings
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/chain/document_history.rs
  bindings/wasm/src/chain/mod.rs
  bindings/wasm/src/did/wasm_document.rs
  bindings/wasm/src/did/wasm_document_diff.rs
  bindings/wasm/src/tangle/client.rs
Labels: Binding, WASM

#404 Fix wasm compilation
  bindings/wasm/Cargo.toml
Labels: Bug

#405 Replace `testnet` with `devnet`
  bindings/wasm/README.md
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/tangle/network.rs
  bindings/wasm/tests/wasm.rs
  documentation/docs/specs/iota_did_method_spec.md
  identity-account/src/tests/commands.rs
  identity-account/src/tests/lazy.rs
  identity-iota/src/did/doc/iota_document.rs
  identity-iota/src/did/url/iota_did.rs
  identity-iota/src/tangle/network.rs
Labels: Chore

#399 Small wiki content tweaks.
  documentation/docs/decentralized_identity.md
  documentation/docs/getting-started/decentralized_identifiers/create.md
  documentation/docs/getting-started/decentralized_identifiers/overview.md
  documentation/docs/getting-started/overview.md
  documentation/docs/libraries/rust/api_reference.md
Labels: Documentation

#416 Bump to 0.3.11 for @iota/identity-wasm@dev, add proof getter
  bindings/wasm/docs/api-reference.md
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  bindings/wasm/src/did/wasm_document_diff.rs
Labels: WASM, Chore

#407 Initial content for VC Wiki Overview page
  documentation/docs/getting-started/verifiable_credentials/overview.md
Labels: Documentation

#406 Add stub content to IOTA DID Resolution wiki page.
  documentation/docs/getting-started/decentralized_identifiers/resolve.md
Labels: Documentation
