Repository iotaledger/identity, pull requests merged in 2021-06, with the labels that each got.

#281 Use u32 for message delays
  bindings/wasm/docs/api-reference.md
  bindings/wasm/package.json
  bindings/wasm/src/message/timing.rs
  bindings/wasm/src/wasm_document.rs
  identity-comm/src/message/timing.rs
Labels: Binding, WASM

#284 docs: Fix some typos in the method spec
  docs/specs/iota_did_method_spec.md
Labels: Documentation

#270 Update iota-client
  bindings/wasm/Cargo.toml
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/config.js
  bindings/wasm/examples/create_did.js
  bindings/wasm/examples/create_vc.js
  bindings/wasm/examples/create_vp.js
  bindings/wasm/examples/manipulate_did.js
  bindings/wasm/examples/resolution.js
  bindings/wasm/examples/revocation.js
  bindings/wasm/src/lib.rs
  bindings/wasm/src/tangle/client.rs
  bindings/wasm/src/tangle/config.rs
  bindings/wasm/src/tangle/mod.rs
  bindings/wasm/src/tangle/network.rs
  bindings/wasm/src/wasm_did.rs
  identity-account/src/account/account.rs
  identity-comm/Cargo.toml
  identity-iota/Cargo.toml
  identity-iota/src/chain/diff_chain.rs
  identity-iota/src/chain/document_chain.rs
  identity-iota/src/chain/integration_chain.rs
  identity-iota/src/client/client_builder.rs
  identity-iota/src/client/mod.rs
  identity-iota/src/credential/validator.rs
  identity-iota/src/did/doc/document_diff.rs
  identity-iota/src/did/doc/iota_document.rs
  identity-iota/src/did/doc/properties.rs
  identity-iota/src/did/url/iota_did.rs
  identity-iota/src/lib.rs
  identity-iota/src/resolver.rs
  identity-iota/src/tangle/client.rs
  identity-iota/src/tangle/client_builder.rs
  identity-iota/src/tangle/message_index.rs
  identity-iota/src/tangle/mod.rs
  identity-iota/src/tangle/network.rs
  identity-iota/src/tangle/traits.rs
  identity/Cargo.toml
  identity/src/lib.rs
Labels: Binding, Enhancement, WASM

#285 docs: Describe build process for wasm bindings
  bindings/wasm/README.md
  bindings/wasm/examples/README.md
Labels: Documentation

#287 Restore checkCredential/checkPresentation WASM functions
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/create_did.js
  bindings/wasm/examples/create_vc.js
  bindings/wasm/examples/create_vp.js
  bindings/wasm/examples/manipulate_did.js
  bindings/wasm/examples/merkle_key.js
  bindings/wasm/examples/node.js
  bindings/wasm/examples/resolution.js
  bindings/wasm/examples/revocation.js
  bindings/wasm/examples/web.js
  bindings/wasm/package.json
  bindings/wasm/src/iota.rs
  bindings/wasm/src/tangle/client.rs
  bindings/wasm/src/tangle/config.rs
  bindings/wasm/src/wasm_did.rs
  bindings/wasm/tests/wasm.rs
  identity-account/src/account/account.rs
  identity-iota/src/credential/validator.rs
  identity-iota/src/resolver.rs
  identity-iota/src/tangle/client.rs
Labels: Binding, WASM
