Repository iotaledger/identity, pull requests merged in 2021-04, with the labels that each got.

#171 Docs/examples readme and getting started
  examples/Cargo.toml
  examples/README.md
  examples/common.rs
  examples/create_did_document.rs
  examples/getting_started.rs
  examples/manipulate_did_document.rs
  examples/merkle_key.rs
  examples/resolution.rs
  examples/verifiable_credential.rs
  examples/verifiable_presentation.rs
Labels: Documentation, Enhancement, Improvement

#186 add credential Options, Schema, Issuance interactions, more
  docs/DID Communications Research and Specification/Interactions and Messages.md
Labels: DID Comm, Documentation, Enhancement, Improvement, Question

#202 Docs/didcomms spec v0.2
  docs/DID Communications Research and Specification/Interactions and Messages.md
Labels: DID Comm, Documentation, Enhancement, Improvement

#220 Fix wasm credential
  bindings/wasm/examples/node.js
  bindings/wasm/src/credential/credential.rs
Labels: Binding, WASM

#203 DID Comms Specification v0.3
  docs/DID Communications Research and Specification/Field_Definitions.md
  docs/DID Communications Research and Specification/Interactions and Messages.md
  docs/DID Communications Research and Specification/README.md
  docs/DID Communications Research and Specification/Standalone_Messages.md
  docs/DID Communications Research and Specification/i_authentication.md
  docs/DID Communications Research and Specification/i_credential-issuance.md
  docs/DID Communications Research and Specification/i_credential-options.md
  docs/DID Communications Research and Specification/i_credential-revocation.md
  docs/DID Communications Research and Specification/i_credential-schema.md
  docs/DID Communications Research and Specification/i_did-discovery.md
  docs/DID Communications Research and Specification/i_did-introduction.md
  docs/DID Communications Research and Specification/i_did-resolution.md
  docs/DID Communications Research and Specification/i_features-discovery.md
  docs/DID Communications Research and Specification/i_presentation-verification.md
  docs/DID Communications Research and Specification/i_trust-ping.md
  docs/DID Communications Research and Specification/img/authentication.drawio
  docs/DID Communications Research and Specification/img/authentication.png
  docs/DID Communications Research and Specification/img/credential-issuance.drawio
  docs/DID Communications Research and Specification/img/credential-issuance.png
  docs/DID Communications Research and Specification/img/credential-options.drawio
  docs/DID Communications Research and Specification/img/credential-options.png
  docs/DID Communications Research and Specification/img/credential-revocation.drawio
  docs/DID Communications Research and Specification/img/credential-revocation.png
  docs/DID Communications Research and Specification/img/credential-schema.drawio
  docs/DID Communications Research and Specification/img/credential-schema.png
  docs/DID Communications Research and Specification/img/did-discovery.drawio
  docs/DID Communications Research and Specification/img/did-discovery.png
  docs/DID Communications Research and Specification/img/did-introduction.drawio
  docs/DID Communications Research and Specification/img/did-introduction.png
  docs/DID Communications Research and Specification/img/did-resolution.drawio
  docs/DID Communications Research and Specification/img/did-resolution.png
  docs/DID Communications Research and Specification/img/features-discovery.drawio
  docs/DID Communications Research and Specification/img/features-discovery.png
  docs/DID Communications Research and Specification/img/presentation-verification.drawio
  docs/DID Communications Research and Specification/img/presentation-verification.png
  docs/DID Communications Research and Specification/img/trust-ping.drawio
  docs/DID Communications Research and Specification/img/trust-ping.png
Labels: DID Comm, Documentation, Enhancement, Improvement, Meeting, Question, Request
