Repository iotaledger/identity, pull requests merged in 2021-05, with the labels that each got.

#240 Add missing wasm accessors
  bindings/wasm/.license_template
  bindings/wasm/docs/api-reference.md
  bindings/wasm/rustfmt.toml
  bindings/wasm/src/wasm_document.rs
  bindings/wasm/tests/wasm.rs
Labels: Binding, Enhancement, WASM

#242 Fix wasm examples
  .github/workflows/build-and-test.yml
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/node.js
  bindings/wasm/examples/web.js
  bindings/wasm/src/iota.rs
  bindings/wasm/src/wasm_did.rs
  bindings/wasm/src/wasm_document.rs
  bindings/wasm/tests/wasm.rs
  identity-account/src/stronghold/result.rs
  identity-core/src/common/timestamp.rs
  identity-core/src/crypto/key/collection.rs
  identity-core/src/crypto/merkle_tree/merkle.rs
  identity-core/src/crypto/proof/jcs_ed25519.rs
  identity-iota/src/chain/document.rs
  identity-iota/src/client/network.rs
  identity-iota/src/did/doc/iota_document.rs
Labels: Binding, WASM

#207 Add new DID Method Spec
  docs/SUMMARY.md
  docs/images/blockchain-bottleneck.gif
  docs/images/tangle-bottleneck.gif
  docs/specs/iota_did_method_spec.md
  docs/specs/method_spec.md
Labels: Documentation

#251 Feat/improve js examples
  bindings/wasm/examples/README.md
  bindings/wasm/examples/config.js
  bindings/wasm/examples/create_did.js
  bindings/wasm/examples/create_vc.js
  bindings/wasm/examples/create_vp.js
  bindings/wasm/examples/manipulate_did.js
  bindings/wasm/examples/merkle_key.js
  bindings/wasm/examples/node.js
  bindings/wasm/examples/resolution.js
  bindings/wasm/examples/revocation.js
  bindings/wasm/src/service.rs
  identity-iota/src/did/doc/iota_document.rs
Labels: WASM

#261 Update README.md
  examples/README.md
Labels: Documentation
