Repository iotaledger/identity, pull requests merged in 2021-02, with the labels that each got.

#120 feat(meeting)/2021-01-27
  docs/meeting-notes/2021-01-27.md
Labels: meeting

#124 Pre-publish Tasks
  bindings/wasm/Cargo.toml
  bindings/wasm/README.md
  bindings/wasm/package.json
  identity-core/Cargo.toml
  identity-credential/Cargo.toml
  identity-did/Cargo.toml
  identity-diff/Cargo.toml
  identity-diff/derive/Cargo.toml
  identity-iota/Cargo.toml
  identity/Cargo.toml
Labels: WASM, binding, documentation

#103 Add documentation page
  .github/workflows/deploy_docs_to_github_pages.yml
  book.toml
  docs/SUMMARY.md
  docs/contribute.md
  docs/libraries/README.md
  docs/libraries/rust/README.md
  docs/libraries/rust/api-reference.md
  docs/libraries/rust/getting_started.md
  docs/libraries/rust/soon.md
  docs/libraries/wasm/README.md
  docs/libraries/wasm/api-reference.md
  docs/libraries/wasm/getting_started.md
  docs/libraries/wasm/soon.md
  docs/overview/README.md
  docs/overview/did.md
  docs/overview/vc.md
  docs/welcome.md
  examples/Cargo.toml
  examples/create_did.rs
  identity-did/src/lib.rs
  identity/Cargo.toml
  identity/README.md
  identity/src/lib.rs
Labels: documentation, enhancement
