Repository iotaledger/identity, pull requests merged in 2021-01, with the labels that each got.

#104 meeting/2020-01-06
  docs/meeting-notes/2021-01-06.md
Labels: meeting

#108 Update bindings
  .github/workflows/build-and-test.yml
  .github/workflows/clippy.yml
  .github/workflows/format.yml
  .gitignore
  Cargo.toml
  README.md
  bindings/wasm/.gitignore
  bindings/wasm/Cargo.toml
  bindings/wasm/LICENSE
  bindings/wasm/README.md
  bindings/wasm/build/docs.js
  bindings/wasm/build/node.js
  bindings/wasm/build/web.js
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/node.js
  bindings/wasm/examples/web.js
  bindings/wasm/package.json
  bindings/wasm/src/did.rs
  bindings/wasm/src/doc.rs
  bindings/wasm/src/iota.rs
  bindings/wasm/src/key.rs
  bindings/wasm/src/lib.rs
  bindings/wasm/src/pubkey.rs
  bindings/wasm/src/vc.rs
  bindings/wasm/src/vp.rs
  bindings/wasm/static/index.html
  bindings/wasm/webpack.config.js
  libraries/README.md
Labels: binding, documentation

#114 meeting/2021-01-13-weekly-meeting
  docs/meeting-notes/2021-01-13.md
Labels: meeting

#109 Signature Updates
  bindings/wasm/src/doc.rs
  identity_core/Cargo.toml
  identity_core/src/proof/jcsed25519signature2020.rs
  identity_core/src/resolver/resource.rs
  identity_core/src/vc/credential.rs
  identity_core/src/vc/verifiable_credential.rs
  identity_core/src/vc/verifiable_presentation.rs
  identity_diff/Cargo.toml
  identity_diff/src/did_doc.rs
  identity_iota/src/did/document.rs
  identity_iota/src/did/document_diff.rs
Labels: enhancement

#115 meeting/2021-01-20
  docs/meeting-notes/2021-01-20.md
Labels: meeting

#111 Add Verification Method Merkle Tree
  identity-core/Cargo.toml
  identity-core/examples/merkle_tree.rs
  identity-core/src/crypto/merkle_tree/consts.rs
  identity-core/src/crypto/merkle_tree/digest.rs
  identity-core/src/crypto/merkle_tree/hash.rs
  identity-core/src/crypto/merkle_tree/math.rs
  identity-core/src/crypto/merkle_tree/merkle.rs
  identity-core/src/crypto/merkle_tree/mod.rs
  identity-core/src/crypto/merkle_tree/node.rs
  identity-core/src/crypto/merkle_tree/proof.rs
  identity-core/src/crypto/merkle_tree/tree.rs
  identity-core/src/crypto/mod.rs
  rustfmt.toml
Labels: enhancement
