Repository iotaledger/identity, pull requests merged in 2022-04, with the labels that each got.

#640 added zebra repo link
  bindings/wasm/README.md
Labels: Documentation

#788 Improve examples in documentation
  documentation/docs/decentralized_identifiers/create.mdx
  documentation/docs/decentralized_identifiers/resolve.mdx
  documentation/docs/decentralized_identifiers/resolve_history.mdx
  documentation/docs/decentralized_identifiers/secure.mdx
  documentation/docs/decentralized_identifiers/update.mdx
  documentation/docs/getting_started/create_and_publish.mdx
  documentation/sidebars.js
  documentation/src/components/CodeSnippetComponent/index.js
  documentation/src/components/CodeSnippetComponent/styles.css
Labels: Documentation, No changelog

#794 Fix Account `create_signed_*` function return types
  bindings/wasm/src/account/wasm_account/account.rs
  bindings/wasm/src/credential/presentation.rs
Labels: Wasm, Patch

#797 Update `WasmStorage` Typescript interface docs
  bindings/wasm/src/account/storage/traits.rs
Labels: Documentation, Wasm, No changelog

#798 Merge dev to support branch
  bindings/wasm/src/account/storage/traits.rs
Labels: No changelog

#801 Fix hotfix PR action, remove `release-branch`
  .github/workflows/shared-create-hotfix-pr.yml
Labels: No changelog

#802 Fix Wasm Hotfix PR workflow path
  .github/workflows/wasm-create-hotfix-pr.yml
Labels: No changelog

#807 Fix omitting `Resolver.verifyPresentation`, `Document.resolveMethod` optional parameters
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/chain/document_history.rs
  bindings/wasm/src/did/mod.rs
  bindings/wasm/src/did/wasm_document.rs
  bindings/wasm/src/did/wasm_method_scope.rs
  bindings/wasm/src/tangle/resolver.rs
  bindings/wasm/tests/wasm.rs
Labels: Wasm, Patch

#808 Use Replits for VC examples in the wiki
  documentation/docs/verifiable_credentials/create.mdx
  documentation/docs/verifiable_credentials/revoke.mdx
  documentation/docs/verifiable_credentials/verifiable_presentations.mdx
Labels: Documentation, Chore, No changelog

#791 Implement `Storage` test suite
  .github/workflows/build-and-test.yml
  bindings/stronghold-nodejs/examples/src/stronghold.ts
  bindings/stronghold-nodejs/examples/src/tests/storage_test_suite.ts
  bindings/stronghold-nodejs/js/stronghold.ts
  bindings/wasm/Cargo.toml
  bindings/wasm/examples-account/README.md
  bindings/wasm/examples-account/src/custom_storage.ts
  bindings/wasm/examples-account/src/node.ts
  bindings/wasm/src/account/storage/mod.rs
  bindings/wasm/src/account/storage/test_suite.rs
  bindings/wasm/src/account/storage/traits.rs
  bindings/wasm/src/error.rs
  identity-account-storage/Cargo.toml
  identity-account-storage/src/storage/memstore.rs
  identity-account-storage/src/storage/mod.rs
  identity-account-storage/src/storage/test_suite.rs
  identity/Cargo.toml
Labels: Wasm, Added, Rust

#810 Bump MSRV to 1.58
  README.md
Labels: Breaking change, Rust

#699 Style Guide and Diataxis Review: Identity I
  documentation/docs/decentralized_identity.md
  documentation/docs/getting_started/overview.md
  documentation/docs/introduction.md
Labels: Documentation

#727 Style Guide and Diataxis Review: Identity IV
  documentation/docs/contribute.md
  documentation/docs/glossary.md
  documentation/docs/workflow.md
Labels: Documentation

#812 Update Verifiable Presentations wiki article
  documentation/docs/verifiable_credentials/verifiable_presentations.mdx
Labels: Documentation

#822 Pin `iota-crypto`, `napi` dependencies
  bindings/stronghold-nodejs/.gitignore
  bindings/stronghold-nodejs/Cargo.lock
  bindings/stronghold-nodejs/Cargo.toml
  bindings/stronghold-nodejs/package-lock.json
  bindings/wasm/docs/api-reference.md
  identity-account-storage/Cargo.toml
  identity-core/Cargo.toml
  identity-iota-core/Cargo.toml
  identity-iota/Cargo.toml
Labels: Wasm, No changelog, Rust

#820 Add Client option for retry publishing behaviour
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/account/storage/traits.rs
  bindings/wasm/src/common/mod.rs
  bindings/wasm/src/common/types.rs
  bindings/wasm/src/tangle/client.rs
  bindings/wasm/src/tangle/client_config.rs
  identity-iota/src/tangle/client.rs
  identity-iota/src/tangle/client_builder.rs
Labels: Wasm, Added, Rust
