Repository iotaledger/identity, pull requests merged in 2022-10, with the labels that each got.

#1048 Add `IotaDID.fromAliasId` to the Wasm bindings
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/src/1_advanced/0_did_controls_did.ts
  bindings/wasm/examples/src/1_advanced/1_did_issues_nft.ts
  bindings/wasm/examples/src/1_advanced/3_did_issues_tokens.ts
  bindings/wasm/src/iota/iota_did.rs
  bindings/wasm/tests/iota.ts
  identity_iota_core/src/did/iota_did.rs
Labels: Wasm, Added, Chore

#1058 Update `create_and_publish` wiki page
  documentation/docs/getting_started/create_and_publish.mdx
Labels: Documentation, Chore

#1062 Update iota client 2.0.1 rc.3
  bindings/wasm/Cargo.toml
  bindings/wasm/docs/api-reference.md
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  bindings/wasm/src/error.rs
  bindings/wasm/src/iota/identity_client_ext.rs
  bindings/wasm/src/iota/iota_did.rs
  bindings/wasm/src/iota/iota_document.rs
  examples/1_advanced/1_did_issues_nft.rs
  examples/1_advanced/2_nft_owns_did.rs
  examples/1_advanced/3_did_issues_tokens.rs
  examples/1_advanced/5_alias_output_history.rs
  examples/Cargo.toml
  identity_diff/src/option.rs
  identity_iota_core/Cargo.toml
  identity_iota_core/src/client/iota_client.rs
  identity_iota_core/src/document/iota_document.rs
  identity_iota_core/src/lib.rs
Labels: Breaking change, Rust

#1064 Pin cargo-release version
  .github/actions/publish/publish-rust/action.yml
Labels: No changelog
