Repository iotaledger/identity, pull requests merged in 2022-08, with the labels that each got.

#963 Add Stardust Client Extension Trait
  .github/workflows/build-and-test.yml
  identity_stardust/Cargo.toml
  identity_stardust/examples/create_did.rs
  identity_stardust/examples/ex0_create_did.rs
  identity_stardust/examples/ex1_update_did.rs
  identity_stardust/examples/ex2_resolve_did.rs
  identity_stardust/examples/ex3_deactivate_did.rs
  identity_stardust/examples/ex4_delete_did.rs
  identity_stardust/src/client/client_ext.rs
  identity_stardust/src/client/mod.rs
  identity_stardust/src/did/stardust_did.rs
  identity_stardust/src/document/stardust_document.rs
  identity_stardust/src/document/stardust_document_metadata.rs
  identity_stardust/src/error.rs
  identity_stardust/src/lib.rs
  identity_stardust/src/network/network_name.rs
  identity_stardust/src/state_metadata/document.rs
Labels: Added, Rust

#977 Fix DID TypeScript references
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/account/wasm_account/update/set_controller.rs
  bindings/wasm/src/credential/credential_builder.rs
  bindings/wasm/src/credential/presentation_builder.rs
  bindings/wasm/src/credential/types.rs
  bindings/wasm/src/did/wasm_document.rs
Labels: Wasm, Patch

#972 Update DID Method Specification
  documentation/docs/specs/did/iota_did_method_spec.md
Labels: Documentation

#976 Improve Wasm TypeScript build
  bindings/wasm/.gitignore
  bindings/wasm/README.md
  bindings/wasm/build/web.js
  bindings/wasm/lib/index.ts
  bindings/wasm/lib/stardust_identity_client.ts
  bindings/wasm/lib/tsconfig.json
  bindings/wasm/lib/tsconfig.web.json
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  bindings/wasm/tsconfig.json
  bindings/wasm/tsconfig.node.json
  bindings/wasm/tsconfig.test.json
  bindings/wasm/tsconfig.web.json
Labels: Wasm, Chore, No changelog

#975 Add Wasm Stardust Client
  bindings/wasm/.gitignore
  bindings/wasm/Cargo.toml
  bindings/wasm/README.md
  bindings/wasm/build/node.js
  bindings/wasm/build/utils/generatePackage.js
  bindings/wasm/build/web.js
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples-stardust/README.md
  bindings/wasm/examples-stardust/src/ex0_create_did.ts
  bindings/wasm/examples-stardust/src/ex1_update_did.ts
  bindings/wasm/examples-stardust/src/ex2_resolve_did.ts
  bindings/wasm/examples-stardust/src/ex3_deactivate_did.ts
  bindings/wasm/examples-stardust/src/ex4_delete_did.ts
  bindings/wasm/examples-stardust/src/main.ts
  bindings/wasm/examples-stardust/src/tests/ex0_create_did.ts
  bindings/wasm/examples-stardust/src/tests/ex1_update_did.ts
  bindings/wasm/examples-stardust/src/tests/ex2_resolve_did.ts
  bindings/wasm/examples-stardust/src/tests/ex3_deactivate_did.ts
  bindings/wasm/examples-stardust/src/tests/ex4_delete_did.ts
  bindings/wasm/lib/index.ts
  bindings/wasm/lib/stardust_identity_client.ts
  bindings/wasm/lib/tsconfig.json
  bindings/wasm/lib/tsconfig.web.json
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  bindings/wasm/rustfmt.toml
  bindings/wasm/src/error.rs
  bindings/wasm/src/stardust/identity_client.rs
  bindings/wasm/src/stardust/identity_client_ext.rs
  bindings/wasm/src/stardust/mod.rs
  bindings/wasm/src/stardust/stardust_document.rs
  bindings/wasm/src/stardust/stardust_document_metadata.rs
  bindings/wasm/tests/stardust.ts
  bindings/wasm/tsconfig.json
  bindings/wasm/tsconfig.node.json
  identity_stardust/Cargo.toml
  identity_stardust/examples/ex0_create_did.rs
  identity_stardust/examples/ex1_update_did.rs
  identity_stardust/examples/ex2_resolve_did.rs
  identity_stardust/examples/ex3_deactivate_did.rs
  identity_stardust/examples/ex4_delete_did.rs
  identity_stardust/src/client/client_ext.rs
  identity_stardust/src/client/identity_client.rs
  identity_stardust/src/client/iota_client.rs
  identity_stardust/src/client/mod.rs
  identity_stardust/src/document/stardust_document.rs
  identity_stardust/src/error.rs
  identity_stardust/src/lib.rs
  identity_stardust/src/state_metadata/document.rs
Labels: Wasm, Breaking change, Rust

#980 Increase cypress verify timeout and update to cypress 10
  bindings/wasm/cypress.config.ts
  bindings/wasm/cypress.json
  bindings/wasm/cypress/e2e/createIdentity.cy.js
  bindings/wasm/cypress/e2e/keyExchange.cy.js
  bindings/wasm/cypress/e2e/manipulateIdentity.cy.js
  bindings/wasm/cypress/e2e/privateTangle.cy.js
  bindings/wasm/cypress/e2e/resolveHistory.cy.js
  bindings/wasm/cypress/e2e/resolveIdentity.cy.js
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
Labels: No changelog

#982 Change Stardust DID method to IOTA
  bindings/wasm/package-lock.json
  bindings/wasm/src/stardust/stardust_did.rs
  identity_stardust/src/did/stardust_did.rs
  identity_stardust/src/document/stardust_document.rs
  identity_stardust/src/state_metadata/document.rs
Labels: Wasm, Breaking change, Rust

#988 Reexport `bee-block` from `iota-client`
  bindings/wasm/Cargo.toml
  examples/0_basic/0_create_did.rs
  examples/0_basic/1_update_did.rs
  examples/0_basic/2_resolve_did.rs
  examples/0_basic/3_deactivate_did.rs
  examples/0_basic/4_delete_did.rs
  examples/1_advanced/0_did_controls_did.rs
  examples/1_advanced/1_did_issues_nft.rs
  examples/1_advanced/2_nft_owns_did.rs
  examples/1_advanced/3_did_issues_tokens.rs
  examples/1_advanced/4_key_exchange.rs
  examples/Cargo.toml
  identity_stardust/Cargo.toml
  identity_stardust/src/error.rs
  identity_stardust/src/lib.rs
Labels: Bug, No changelog
