Repository iotaledger/identity, pull requests merged in 2022-02, with the labels that each got.

#638 Change document controller type to `OneOrSet`
  identity-core/src/common/mod.rs
  identity-core/src/common/one_or_set.rs
  identity-core/src/common/ordered_set.rs
  identity-core/src/error.rs
  identity-did/src/did/did.rs
  identity-did/src/diff/diff_document.rs
  identity-did/src/document/builder.rs
  identity-did/src/document/core_document.rs
  identity-iota/src/did/iota_did.rs
  identity-iota/src/document/iota_document.rs
Labels: Breaking change, Rust

#641 Cut other releases from release changelog
  .github/actions/release/changelog-generator/action.yml
  .github/workflows/shared-release.yml
Labels: No changelog

#645 Remove unused `Account` milestone option
  examples/account/config.rs
  identity-account/src/account/builder.rs
  identity-account/src/account/config.rs
Labels: Breaking change, Rust

#574 WASM Bindings for the Account
  README.md
  bindings/wasm/Cargo.toml
  bindings/wasm/README.md
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples-account/README.md
  bindings/wasm/examples-account/src/config.ts
  bindings/wasm/examples-account/src/create_did.ts
  bindings/wasm/examples-account/src/lazy.ts
  bindings/wasm/examples-account/src/manipulate_did.ts
  bindings/wasm/examples-account/src/multiple_identities.ts
  bindings/wasm/examples-account/src/node.ts
  bindings/wasm/examples-account/src/signing.ts
  bindings/wasm/examples-account/src/unchecked.ts
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  bindings/wasm/src/account/mod.rs
  bindings/wasm/src/account/update/attach_method_relationships.rs
  bindings/wasm/src/account/update/create_method.rs
  bindings/wasm/src/account/update/create_service.rs
  bindings/wasm/src/account/update/delete_method.rs
  bindings/wasm/src/account/update/delete_service.rs
  bindings/wasm/src/account/update/detach_method_relationships.rs
  bindings/wasm/src/account/update/mod.rs
  bindings/wasm/src/account/wasm_account.rs
  bindings/wasm/src/account/wasm_account_builder.rs
  bindings/wasm/src/account/wasm_auto_save.rs
  bindings/wasm/src/account/wasm_identity_setup.rs
  bindings/wasm/src/account/wasm_method_relationship.rs
  bindings/wasm/src/account/wasm_method_secret.rs
  bindings/wasm/src/credential/credential.rs
  bindings/wasm/src/crypto/wasm_signature_options.rs
  bindings/wasm/src/error.rs
  bindings/wasm/src/lib.rs
  examples/Cargo.toml
  examples/account/config.rs
  identity-account/Cargo.toml
  identity-account/src/account/account.rs
  identity-account/src/account/builder.rs
  identity-account/src/account/config.rs
  identity-account/src/identity/identity_setup.rs
  identity-iota/src/tangle/client.rs
  identity/Cargo.toml
  identity/src/lib.rs
Labels: Enhancement, Wasm, Added

#650 Remove redundant `impl Display` for `OneOrMany`
  identity-core/src/common/one_or_many.rs
Labels: Chore, No changelog, Rust

#644 Run examples on every test
  .github/actions/rust/rust-setup/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/examples.yml
  bindings/wasm/.gitignore
  bindings/wasm/cypress.json
  bindings/wasm/cypress/integration/browser_test.js
  bindings/wasm/cypress/integration/createDiff.js
  bindings/wasm/cypress/integration/createIdentity.js
  bindings/wasm/cypress/integration/createVC.js
  bindings/wasm/cypress/integration/createVP.js
  bindings/wasm/cypress/integration/manipulateIdentity.js
  bindings/wasm/cypress/integration/merkleKey.js
  bindings/wasm/cypress/integration/privateTangle.js
  bindings/wasm/cypress/integration/resolution.js
  bindings/wasm/cypress/integration/resolveHistory.js
  bindings/wasm/cypress/integration/revokeVC.js
  bindings/wasm/examples/src/test.js
  bindings/wasm/examples/src/tests/node/createDiff.js
  bindings/wasm/examples/src/tests/node/createIdentity.js
  bindings/wasm/examples/src/tests/node/createVP.js
  bindings/wasm/examples/src/tests/node/create_vc.js
  bindings/wasm/examples/src/tests/node/manipulateIdentity.js
  bindings/wasm/examples/src/tests/node/merkleKey.js
  bindings/wasm/examples/src/tests/node/privateTangle.js
  bindings/wasm/examples/src/tests/node/resolution.js
  bindings/wasm/examples/src/tests/node/resolveHistory.js
  bindings/wasm/examples/src/tests/node/revokeVC.js
  bindings/wasm/examples/src/utils.js
  bindings/wasm/examples/src/web.js
  bindings/wasm/examples/webpack.config.js
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
Labels: No changelog

#651 Fix Wasm `DID` conversion error names
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/src/create_did.js
  bindings/wasm/examples/src/diff_chain.js
  bindings/wasm/examples/src/index.html
  bindings/wasm/examples/src/manipulate_did.js
  bindings/wasm/examples/src/merkle_key.js
  bindings/wasm/examples/src/private_tangle.js
  bindings/wasm/examples/src/resolve_history.js
  bindings/wasm/examples/src/revoke_vc.js
  bindings/wasm/examples/src/utils.js
  bindings/wasm/src/did/wasm_did.rs
  bindings/wasm/src/tangle/client.rs
  bindings/wasm/src/tangle/explorer.rs
Labels: Wasm, Patch

#657 Fix workflow path
  .github/workflows/build-and-test.yml
Labels: No changelog

#648 Replace Type `Promise<any>` with `Promise<void>`
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/account/update/attach_method_relationships.rs
  bindings/wasm/src/account/update/create_method.rs
  bindings/wasm/src/account/update/create_service.rs
  bindings/wasm/src/account/update/delete_method.rs
  bindings/wasm/src/account/update/delete_service.rs
  bindings/wasm/src/account/update/detach_method_relationships.rs
  bindings/wasm/src/account/wasm_account.rs
  bindings/wasm/src/common/mod.rs
  bindings/wasm/src/common/promise_void.rs
Labels: Wasm, No changelog

#659 Skip build and test on draft PRs
  .github/workflows/build-and-test.yml
Labels: No changelog

#658 Set `controller`, `alsoKnownAs` fields from Account
  identity-account/src/tests/updates.rs
  identity-account/src/updates/update.rs
Labels: Added, Rust

#666 Make Wasm support dependent on `target_arch` rather than feature
  .github/workflows/build-and-test.yml
  .github/workflows/clippy.yml
  bindings/wasm/Cargo.toml
  bindings/wasm/src/common/timestamp.rs
  examples/account/multiple_identities.rs
  identity-account/Cargo.toml
  identity-account/src/tests/account.rs
  identity-comm/Cargo.toml
  identity-core/Cargo.toml
  identity-core/src/common/timestamp.rs
  identity-iota/Cargo.toml
  identity/Cargo.toml
Labels: Wasm, Breaking change, Rust

#594 Replace `ClientMap` with new `Resolver`
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/did/mod.rs
  bindings/wasm/src/did/wasm_resolved_document.rs
  bindings/wasm/src/tangle/client.rs
  bindings/wasm/src/tangle/mod.rs
  bindings/wasm/src/tangle/resolver.rs
  examples/low-level-api/common.rs
  examples/low-level-api/create_did.rs
  examples/low-level-api/create_vc.rs
  examples/low-level-api/create_vp.rs
  examples/low-level-api/diff_chain.rs
  examples/low-level-api/manipulate_did.rs
  examples/low-level-api/merkle_key.rs
  examples/low-level-api/private_tangle.rs
  examples/low-level-api/resolution.rs
  examples/low-level-api/revoke_vc.rs
  identity-iota/Cargo.toml
  identity-iota/src/resolver.rs
  identity-iota/src/tangle/client.rs
  identity-iota/src/tangle/client_map.rs
  identity-iota/src/tangle/mod.rs
  identity-iota/src/tangle/resolver.rs
Labels: Wasm, Breaking change, Rust

#670 Simplify sccache action
  .github/actions/rust/sccache/setup-sccache-macos/action.yml
  .github/actions/rust/sccache/setup-sccache-ubuntu/action.yml
  .github/actions/rust/sccache/setup-sccache-windows/action.yml
  .github/actions/rust/sccache/setup-sccache/action.yml
  .github/actions/rust/sccache/stop-sccache-ubuntu-macos/action.yml
  .github/actions/rust/sccache/stop-sccache-windows/action.yml
  .github/actions/rust/sccache/stop-sccache/action.yml
  .github/workflows/build-and-test.yml
Labels: No changelog

#675 Change `IotaDocument::verify_document` from a static function to a method
  bindings/wasm/.cargo/config.toml
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/did/wasm_document.rs
  bindings/wasm/tests/wasm.rs
  identity-iota/src/chain/integration_chain.rs
  identity-iota/src/document/iota_document.rs
  libjose/src/jwe/encoder.rs
Labels: Wasm, Breaking change, Rust

#674 Add `WasmDocument::signDocument`
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/did/wasm_document.rs
  bindings/wasm/tests/wasm.rs
Labels: Wasm, Added
