Repository iotaledger/identity, pull requests merged in 2022-05, with the labels that each got.

#828 Run build-and-test for support branches
  .github/workflows/build-and-test.yml
Labels: No changelog

#814 Improve update identity wiki section
  documentation/docs/decentralized_identifiers/update.mdx
Labels: Documentation, Chore

#830 Add content to `update` page in wiki (#814)
  documentation/docs/decentralized_identifiers/update.mdx
Labels: Documentation

#831 Use links pointing to support branch
  documentation/docs/decentralized_identifiers/update.mdx
  identity/README.md
Labels: Documentation

#818 Add `Storage` interface wiki article
  bindings/wasm/examples-account/src/memory_storage.ts
  documentation/docs/advanced/storage_adapter.md
  documentation/docs/advanced/storage_interface.mdx
  documentation/sidebars.js
  identity-account-storage/src/storage/memstore.rs
Labels: Documentation, Wasm, Rust

#819 Fix Wasm `Account.createService` endpoint type
  bindings/wasm/src/account/wasm_account/update/create_service.rs
Labels: Wasm, Patch

#832 Add `Storage` interface wiki article (#818)
  bindings/wasm/examples-account/src/custom_storage.ts
  documentation/docs/advanced/storage_adapter.md
  documentation/docs/advanced/storage_interface.mdx
  documentation/sidebars.js
  identity-account-storage/src/storage/memstore.rs
Labels: Documentation

#815 Add Wasm `Credential` and `Presentation` field getters and constructors
  bindings/wasm/Cargo.toml
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples-account/src/create_vc.ts
  bindings/wasm/examples-account/src/create_vp.ts
  bindings/wasm/examples-account/src/revoke_vc.ts
  bindings/wasm/examples-account/src/signing.ts
  bindings/wasm/package.json
  bindings/wasm/proc-typescript/Cargo.toml
  bindings/wasm/proc-typescript/src/lib.rs
  bindings/wasm/src/chain/document_history.rs
  bindings/wasm/src/common/mod.rs
  bindings/wasm/src/common/promise_void.rs
  bindings/wasm/src/common/types.rs
  bindings/wasm/src/credential/credential.rs
  bindings/wasm/src/credential/credential_builder.rs
  bindings/wasm/src/credential/mod.rs
  bindings/wasm/src/credential/presentation.rs
  bindings/wasm/src/credential/presentation_builder.rs
  bindings/wasm/src/credential/types.rs
  bindings/wasm/src/did/wasm_document.rs
  bindings/wasm/src/did/wasm_service.rs
  bindings/wasm/src/tangle/client_config.rs
  bindings/wasm/tests/account.ts
  bindings/wasm/tests/credentials.ts
  bindings/wasm/tests/wasm.rs
  identity-credential/src/credential/builder.rs
  identity-credential/src/credential/credential.rs
  identity-credential/src/credential/mod.rs
  identity-credential/src/credential/refresh.rs
  identity-credential/src/credential/subject.rs
  identity-credential/src/presentation/builder.rs
  identity-credential/src/presentation/presentation.rs
Labels: Wasm, Breaking change, Rust

#834 Unpin iota-crypto version
  identity-account-storage/Cargo.toml
  identity-core/Cargo.toml
  identity-iota-core/Cargo.toml
  identity-iota/Cargo.toml
Labels: No changelog, Rust

#833 Fix compilation, enable local proof-of-work fallback
  .github/.github_changelog_generator
  .github/actions/publish/publish-wasm/action.yml
  .github/actions/release/bump-versions/action.yml
  .github/actions/release/changelog-generator/action.yml
  .github/actions/rust/sccache/setup-sccache-windows/action.yml
  .github/workflows/audit.yml
  .github/workflows/build-and-test.yml
  .github/workflows/clippy.yml
  .github/workflows/coverage.yml
  .github/workflows/enforce-pr-labels.yml
  .github/workflows/examples.yml
  .github/workflows/format.yml
  .github/workflows/rust-automatic-release-and-publish.yml
  .github/workflows/rust-create-hotfix-pr.yml
  .github/workflows/rust-create-release-pr.yml
  .github/workflows/scripts/array.sh
  .github/workflows/scripts/coverage.sh
  .github/workflows/scripts/populate-changelog-descriptions.sh
  .github/workflows/scripts/updateVersion.sh
  .github/workflows/shared-create-dev-release-pr.yml
  .github/workflows/shared-create-hotfix-pr.yml
  .github/workflows/shared-create-main-release-pr.yml
  .github/workflows/shared-release.yml
  .github/workflows/wasm-automatic-release-and-publish.yml
  .github/workflows/wasm-create-hotfix-pr.yml
  .github/workflows/wasm-create-release-pr.yml
  bindings/wasm/.github_changelog_generator
  bindings/wasm/CHANGELOG.md
  bindings/wasm/Cargo.toml
  bindings/wasm/build/node.js
  bindings/wasm/docs/api-reference.md
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  identity-did/src/resolution/resource.rs
  identity-iota/Cargo.toml
  identity-iota/src/did/doc/iota_document.rs
Labels: Bug, Rust, Patch

#840 Update resolution example to use the new Resolver (#838)
  bindings/wasm/docs/api-reference.md
  bindings/wasm/examples/README.md
  bindings/wasm/examples/src/node.js
  bindings/wasm/examples/src/resolution.js
  bindings/wasm/examples/src/resolve_did.js
  bindings/wasm/examples/src/tests/node/resolution.js
  bindings/wasm/examples/src/web.js
  examples/Cargo.toml
  examples/README.md
  examples/low-level-api/resolution.rs
  examples/low-level-api/resolve_did.rs
Labels: Documentation

#823 Doc/resolve
  documentation/docs/decentralized_identifiers/resolve.mdx
  documentation/docs/decentralized_identifiers/resolve_history.mdx
  documentation/sidebars.js
Labels: Documentation, Chore

#844 Doc/resolve (#823)
  documentation/docs/decentralized_identifiers/resolve.mdx
  documentation/docs/decentralized_identifiers/resolve_history.mdx
  documentation/sidebars.js
Labels: Documentation

#787 Upgrade to new `Stronghold` interface
  .github/workflows/shared-build-and-test-stronghold-nodejs.yml
  bindings/stronghold-nodejs/examples/src/tests/multiple_identities.ts
  bindings/stronghold-nodejs/examples/src/tests/storage_test_suite.ts
  bindings/stronghold-nodejs/package.json
  examples/Cargo.toml
  identity-account-storage/Cargo.toml
  identity-account-storage/src/storage/mod.rs
  identity-account-storage/src/storage/stronghold.rs
  identity-account-storage/src/stronghold/client_path.rs
  identity-account-storage/src/stronghold/context.rs
  identity-account-storage/src/stronghold/error.rs
  identity-account-storage/src/stronghold/hint.rs
  identity-account-storage/src/stronghold/mod.rs
  identity-account-storage/src/stronghold/records.rs
  identity-account-storage/src/stronghold/snapshot.rs
  identity-account-storage/src/stronghold/status.rs
  identity-account-storage/src/stronghold/store.rs
  identity-account-storage/src/stronghold/test_util.rs
  identity-account-storage/src/stronghold/tests.rs
  identity-account-storage/src/stronghold/vault.rs
  identity-account-storage/src/stronghold/wrapper.rs
  identity-account-storage/src/types/key_location.rs
  identity-account/src/tests/account.rs
  identity-account/src/tests/util.rs
Labels: Breaking change, Rust

#845 Fix Stronghold bindings build for musl
  .github/Dockerfile.alpine
  .github/workflows/shared-build-and-test-stronghold-nodejs.yml
  bindings/stronghold-nodejs/package.json
  identity-account-storage/src/storage/stronghold.rs
Labels: Wasm, No changelog

#850 Performance: avoid allocation when deserializing Timestamp
  bindings/stronghold-nodejs/Cargo.lock
  identity-core/src/common/timestamp.rs
Labels: Wasm, Rust, Patch

#848 After publication, overwrite `Account` document with published one
  bindings/wasm/src/account/wasm_account/account.rs
  identity-account/src/account/account.rs
  identity-account/src/tests/account.rs
Labels: Wasm, Chore, Rust, Patch

#847 Improve Napi-Wasm error conversion
  bindings/stronghold-nodejs/src/error.rs
  bindings/wasm/src/account/storage/traits.rs
  bindings/wasm/src/error.rs
Labels: Wasm, Chore, No changelog, Rust

#849 Activate `account`, `stronghold` and `send-sync-storage` features by default
  identity/Cargo.toml
Labels: Breaking change, Rust

#771 Prepare for new wiki build system
  .github/workflows/test-docs-build.yml
  documentation/.gitignore
  documentation/.yarn/releases/yarn-3.2.0.cjs
  documentation/.yarnrc.yml
  documentation/EXTERNAL_DOCS_CONFIG
  documentation/README.md
  documentation/config.json
  documentation/docs/getting_started/overview.md
  documentation/docs/glossary.md
  documentation/docs/libraries/wasm/api_reference.md
  documentation/docs/specs/didcomm/protocols/issuance.md
  documentation/docs/specs/didcomm/resources/credential-info.md
  documentation/docusaurus.config.js
  documentation/package-lock.json
  documentation/package.json
  documentation/static/img/Identity_icon.svg
  documentation/static/img/bg.svg
  documentation/static/img/favicon.ico
  documentation/static/img/identity_logo.svg
  documentation/static/img/iota_logo.svg
  documentation/yarn.lock
Labels: No changelog

#855 Use relative links
  documentation/docs/libraries/wasm/api_reference.md
  documentation/docs/libraries/wasm/getting_started.md
Labels: Documentation

#856 Fix edit URL
  documentation/docusaurus.config.js
Labels: Documentation

#860 Add documentation version info for Develop
  documentation/README.md
  documentation/docusaurus.config.js
  documentation/yarn.lock
Labels: No changelog

#859 Add documentation version info for 0.5.0
  documentation/README.md
  documentation/docusaurus.config.js
  documentation/yarn.lock
Labels: No changelog
