Repository iotaledger/identity, pull requests merged in 2023-06, with the labels that each got.

#1176 Update method spec and JWK method type
  bindings/wasm/src/verification/wasm_method_type.rs
  documentation/docs/specs/did/iota_did_method_spec.mdx
  identity_storage/src/key_storage/memstore.rs
  identity_verification/src/verification_method/method.rs
  identity_verification/src/verification_method/method_type.rs
Labels: Documentation, Rust, Patch

#1175 Support JWT Presentations
  examples/utils/utils.rs
  identity_core/src/crypto/key/ed25519.rs
  identity_core/src/crypto/proof/jcs_ed25519.rs
  identity_credential/src/credential/jwt.rs
  identity_credential/src/credential/jwt_serialization.rs
  identity_credential/src/credential/mod.rs
  identity_credential/src/error.rs
  identity_credential/src/presentation/jwt_presentation.rs
  identity_credential/src/presentation/jwt_presentation_builder.rs
  identity_credential/src/presentation/jwt_presentation_options.rs
  identity_credential/src/presentation/jwt_serialization.rs
  identity_credential/src/presentation/mod.rs
  identity_credential/src/validator/mod.rs
  identity_credential/src/validator/vc_jwt_validation/credential_jwt_validator.rs
  identity_credential/src/validator/vc_jwt_validation/error.rs
  identity_credential/src/validator/vp_jwt_validation/decoded_jwt_presentation.rs
  identity_credential/src/validator/vp_jwt_validation/error.rs
  identity_credential/src/validator/vp_jwt_validation/jwt_presentation_validation_options.rs
  identity_credential/src/validator/vp_jwt_validation/jwt_presentation_validator.rs
  identity_credential/src/validator/vp_jwt_validation/mod.rs
  identity_storage/src/key_storage/memstore.rs
  identity_storage/src/storage/jwk_document_ext.rs
  identity_storage/src/storage/signature_options.rs
  identity_storage/src/storage/tests/credential_validation.rs
  identity_storage/src/storage/tests/mod.rs
  identity_storage/src/storage/tests/presentation_validation.rs
  identity_storage/src/storage/tests/test_utils.rs
Labels: Added, Rust

#1178 Remove stronghold nodejs bindings
  .github/actions/publish/publish-stronghold-nodejs/action.yml
  .github/actions/release/bump-versions/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/clippy.yml
  .github/workflows/format.yml
  .github/workflows/shared-build-and-test-stronghold-nodejs.yml
  .github/workflows/wasm-automatic-release-and-publish.yml
  .github/workflows/wasm-publish-to-npm.yml
  Cargo.toml
  bindings/stronghold-nodejs/.gitignore
  bindings/stronghold-nodejs/.license_template
  bindings/stronghold-nodejs/.npmignore
  bindings/stronghold-nodejs/Cargo.lock
  bindings/stronghold-nodejs/Cargo.toml
  bindings/stronghold-nodejs/LICENSE
  bindings/stronghold-nodejs/README.md
  bindings/stronghold-nodejs/__test__/index.spec.mjs
  bindings/stronghold-nodejs/__test__/readme.spec.mjs
  bindings/stronghold-nodejs/build.rs
  bindings/stronghold-nodejs/js/index.ts
  bindings/stronghold-nodejs/js/stronghold.ts
  bindings/stronghold-nodejs/package-lock.json
  bindings/stronghold-nodejs/package.json
  bindings/stronghold-nodejs/rollup.config.mjs
  bindings/stronghold-nodejs/rsutfmt.toml
  bindings/stronghold-nodejs/src/lib.rs
  bindings/stronghold-nodejs/src/types/key_type.rs
  bindings/stronghold-nodejs/src/types/mod.rs
  bindings/stronghold-nodejs/tsconfig.json
  dprint.json
Labels: Wasm, Breaking change

#1181 Move jwk_storage and key_id_storage to WASM lib
  bindings/wasm/lib/index.ts
  bindings/wasm/lib/jwk_storage.ts
  bindings/wasm/lib/key_id_storage.ts
  bindings/wasm/tests/jwk_storage.ts
  bindings/wasm/tests/key_id_storage.ts
  bindings/wasm/tests/storage.ts
Labels: Wasm, Added

#1179 Wasm Bindings for JWT Presentations
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/credential/jwt_credential_validation/decoded_jwt_credential.rs
  bindings/wasm/src/credential/jwt_credential_validation/options.rs
  bindings/wasm/src/credential/jwt_presentation/jwt_presentation.rs
  bindings/wasm/src/credential/jwt_presentation/jwt_presentation_builder.rs
  bindings/wasm/src/credential/jwt_presentation/mod.rs
  bindings/wasm/src/credential/jwt_presentation_validation/decoded_jwt_presentation.rs
  bindings/wasm/src/credential/jwt_presentation_validation/jwt_presentation_validator.rs
  bindings/wasm/src/credential/jwt_presentation_validation/mod.rs
  bindings/wasm/src/credential/jwt_presentation_validation/options.rs
  bindings/wasm/src/credential/mod.rs
  bindings/wasm/src/credential/types.rs
  bindings/wasm/src/did/wasm_core_document.rs
  bindings/wasm/src/error.rs
  bindings/wasm/src/iota/iota_document.rs
  bindings/wasm/src/storage/jwt_presentation_options.rs
  bindings/wasm/src/storage/mod.rs
  bindings/wasm/tests/storage.ts
  identity_credential/src/presentation/jwt_presentation_options.rs
  identity_credential/src/validator/vp_jwt_validation/decoded_jwt_presentation.rs
  identity_credential/src/validator/vp_jwt_validation/jwt_presentation_validator.rs
  identity_storage/src/storage/jwk_document_ext.rs
Labels: Wasm, Added

#1183 Remove reexported `Resolver` validation APIs
  bindings/wasm/examples/src/0_basic/6_create_vp.ts
  bindings/wasm/src/common/imported_document_lock.rs
  bindings/wasm/src/credential/jwt_presentation/jwt_presentation_builder.rs
  bindings/wasm/src/credential/jwt_presentation_validation/jwt_presentation_validator.rs
  bindings/wasm/src/resolver/wasm_resolver.rs
  bindings/wasm/tests/resolver.ts
  examples/0_basic/6_create_vp.rs
  examples/0_basic/7_revoke_vc.rs
  examples/1_advanced/7_domain_linkage.rs
  identity_credential/src/credential/jwt.rs
  identity_credential/src/domain_linkage/domain_linkage_configuration.rs
  identity_credential/src/presentation/jwt_presentation_options.rs
  identity_credential/src/validator/vc_jwt_validation/credential_jwt_validator.rs
  identity_credential/src/validator/vp_jwt_validation/jwt_presentation_validator.rs
  identity_credential/tests/fixtures/signed_presentation/README.md
  identity_credential/tests/fixtures/signed_presentation/issuer_bar_doc.json
  identity_credential/tests/fixtures/signed_presentation/issuer_iota_doc.json
  identity_credential/tests/fixtures/signed_presentation/presentation.json
  identity_credential/tests/fixtures/signed_presentation/secret_keys.rs
  identity_credential/tests/fixtures/signed_presentation/subject_foo_doc.json
  identity_resolver/src/error.rs
  identity_resolver/src/lib.rs
  identity_resolver/src/resolution/resolver.rs
  identity_resolver/src/resolution/tests/mod.rs
  identity_resolver/src/resolution/tests/presentation_validation_errors.rs
  identity_resolver/src/resolution/tests/resolution_errors.rs
  identity_resolver/src/resolution/tests/send_sync.rs
  identity_resolver/src/resolution/tests/successful_presentation_validation.rs
  identity_resolver/src/resolution/tests/valid_presentation_data.rs
  identity_storage/src/storage/tests/presentation_validation.rs
  identity_verification/src/lib.rs
Labels: Wasm, Breaking change, Rust

#1187 Add domain linkage feature notice
  documentation/docs/concepts/domain_linkage/domain_linkage.mdx
Labels: Documentation

#1190 Remove old `Presentation` type
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/credential/credential.rs
  bindings/wasm/src/credential/credential_builder.rs
  bindings/wasm/src/credential/jwt_credential_validation/decoded_jwt_credential.rs
  bindings/wasm/src/credential/jwt_credential_validation/jwt_credential_validator.rs
  bindings/wasm/src/credential/jwt_credential_validation/options.rs
  bindings/wasm/src/credential/mod.rs
  bindings/wasm/src/credential/options.rs
  bindings/wasm/src/credential/presentation.rs
  bindings/wasm/src/credential/presentation_builder.rs
  bindings/wasm/src/credential/presentation_validator.rs
  bindings/wasm/src/credential/types.rs
  bindings/wasm/src/credential/validation_options.rs
  bindings/wasm/src/error.rs
  bindings/wasm/src/iota/iota_document.rs
  bindings/wasm/tests/credentials.ts
  bindings/wasm/tests/storage.ts
  examples/0_basic/5_create_vc.rs
  examples/0_basic/6_create_vp.rs
  examples/0_basic/7_revoke_vc.rs
  examples/1_advanced/6_domain_linkage.rs
  identity_credential/README.md
  identity_credential/src/credential/credential.rs
  identity_credential/src/credential/policy.rs
  identity_credential/src/domain_linkage/domain_linkage_configuration.rs
  identity_credential/src/domain_linkage/domain_linkage_validator.rs
  identity_credential/src/presentation/builder.rs
  identity_credential/src/presentation/jwt_presentation_builder.rs
  identity_credential/src/presentation/mod.rs
  identity_credential/src/presentation/presentation.rs
  identity_credential/src/validator/credential_validator.rs
  identity_credential/src/validator/errors.rs
  identity_credential/src/validator/mod.rs
  identity_credential/src/validator/options.rs
  identity_credential/src/validator/presentation_validator.rs
  identity_credential/src/validator/test_utils.rs
  identity_credential/src/validator/validation_options.rs
  identity_credential/src/validator/vc_jwt_validation/error.rs
  identity_storage/src/storage/tests/api.rs
  identity_storage/src/storage/tests/credential_jws.rs
  identity_storage/src/storage/tests/credential_validation.rs
  identity_storage/src/storage/tests/presentation_validation.rs
Labels: Wasm, Chore, Breaking change, Rust

#1189 Add `resolve_multiple` to Resolver.
  bindings/wasm/docs/api-reference.md
  bindings/wasm/src/resolver/wasm_resolver.rs
  bindings/wasm/tests/resolver.ts
  identity_resolver/src/resolution/resolver.rs
  identity_resolver/src/resolution/tests/mod.rs
  identity_resolver/src/resolution/tests/resolution.rs
Labels: Wasm, Added, Rust

#1195 Remove identity-diff remains
  identity_core/src/common/one_or_set.rs
  identity_core/src/common/ordered_set.rs
  identity_core/src/common/timestamp.rs
  identity_core/src/common/url.rs
  identity_core/src/error.rs
  identity_core/src/lib.rs
  identity_did/src/did.rs
  identity_did/src/did_url.rs
  identity_document/src/diff/diff_document.rs
  identity_document/src/diff/diff_service.rs
  identity_document/src/diff/mod.rs
  identity_document/src/document/mod.rs
  identity_document/src/lib.rs
  identity_document/src/verifiable/properties.rs
  identity_iota/src/lib.rs
  identity_jose/src/jwk/diff/key.rs
  identity_jose/src/jwk/diff/key_operations.rs
  identity_jose/src/jwk/diff/key_params/ec.rs
  identity_jose/src/jwk/diff/key_params/mod.rs
  identity_jose/src/jwk/diff/key_params/oct.rs
  identity_jose/src/jwk/diff/key_params/okp.rs
  identity_jose/src/jwk/diff/key_params/rsa.rs
  identity_jose/src/jwk/diff/key_type.rs
  identity_jose/src/jwk/diff/key_use.rs
  identity_jose/src/jwk/diff/mod.rs
  identity_jose/src/jwk/mod.rs
  identity_verification/src/verification_method/diff/diff_method.rs
  identity_verification/src/verification_method/diff/method_data.rs
  identity_verification/src/verification_method/diff/method_ref.rs
  identity_verification/src/verification_method/diff/method_type.rs
  identity_verification/src/verification_method/diff/mod.rs
  identity_verification/src/verification_method/mod.rs
Labels: Breaking change, Rust
