Repository iotaledger/identity, pull requests merged in 2023-01, with the labels that each got.

#1107 Update iota.js peer dependency
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
Labels: Wasm, Patch

#1109 Fix clippy's issue `uninlined-format-args`
  bindings/wasm/src/error.rs
  bindings/wasm/src/iota/identity_client.rs
  bindings/wasm/src/iota/iota_document.rs
  bindings/wasm/src/resolver/wasm_resolver.rs
  examples/0_basic/0_create_did.rs
  examples/0_basic/1_update_did.rs
  examples/0_basic/2_resolve_did.rs
  examples/0_basic/3_deactivate_did.rs
  examples/0_basic/5_create_vc.rs
  examples/0_basic/6_create_vp.rs
  examples/0_basic/7_revoke_vc.rs
  examples/1_advanced/5_alias_output_history.rs
  identity_agent/src/agent/agent.rs
  identity_agent/src/didcomm/agent.rs
  identity_core/src/common/one_or_many.rs
  identity_core/src/crypto/proof/proof_value.rs
  identity_credential/src/validator/errors.rs
  identity_did/src/did_url.rs
  identity_diff/derive/src/impls/enums.rs
  identity_diff/derive/src/impls/structs.rs
  identity_diff/derive/src/model.rs
  identity_diff/derive/src/utils.rs
  identity_diff/src/error.rs
  identity_diff/src/hashmap.rs
  identity_diff/src/hashset.rs
  identity_diff/src/option.rs
  identity_diff/src/string.rs
  identity_document/benches/deserialize_document.rs
  identity_iota_core/src/did/iota_did.rs
  identity_iota_core/src/document/iota_document.rs
  identity_resolver/src/error.rs
  identity_verification/src/verification_method/material.rs
  identity_verification/src/verification_method/method.rs
  libjose/examples/basic_jws.rs
  libjose/examples/custom_claims.rs
  libjose/examples/custom_payload.rs
  libjose/src/error.rs
  libjose/src/jwk/key.rs
Labels: Wasm, Chore, No changelog, Rust, Patch

#1094 Add Support for Domain Linkage
  Cargo.toml
  examples/1_advanced/7_domain_linkage.rs
  examples/Cargo.toml
  examples/README.md
  identity_credential/Cargo.toml
  identity_credential/src/credential/domain_linkage_configuration.rs
  identity_credential/src/credential/domain_linkage_credential_builder.rs
  identity_credential/src/credential/issuer.rs
  identity_credential/src/credential/linked_domain_service.rs
  identity_credential/src/credential/mod.rs
  identity_credential/src/error.rs
  identity_credential/src/validator/domain_linkage_validator.rs
  identity_credential/src/validator/errors.rs
  identity_credential/src/validator/mod.rs
  identity_credential/tests/fixtures/dn-config-extra-property.json
  identity_credential/tests/fixtures/dn-config-invalid-context.json
  identity_credential/tests/fixtures/dn-config-valid.json
  identity_resolver/src/resolution/resolver.rs
Labels: Added, Rust
