Repository iotaledger/identity, pull requests merged in 2024-06, with the labels that each got.

#1378 Pin and bump `bls12_381_plus` dependency
  Cargo.toml
  bindings/wasm/Cargo.toml
  examples/Cargo.toml
  identity_credential/Cargo.toml
  identity_jose/Cargo.toml
  identity_storage/Cargo.toml
  identity_stronghold/Cargo.toml
Labels: Rust, Patch

#1372 Fix syntax in WASM documentation link
  bindings/wasm/src/credential/jpt_credential_validator/jpt_credential_validator_utils.rs
Labels: Documentation, Wasm, Chore

#1381 chore(grpc): enhance domain grpc services
  bindings/grpc/proto/domain_linkage.proto
  bindings/grpc/rustfmt.toml
  bindings/grpc/src/services/domain_linkage.rs
  bindings/grpc/tests/api/domain_linkage.rs
  bindings/grpc/tests/api/utils.rs
  bindings/grpc/tooling/domain-linkage-test-server/.well-known/did-configuration.json
  examples/1_advanced/6_domain_linkage.rs
Labels: Enhancement, No changelog, Rust, gRPC

#1386 Make base64 encoding target independent in `KeyIdMemStore` in wasm bindings
  bindings/wasm/lib/key_id_storage.ts
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
  identity_storage/src/key_id_storage/key_id_storage_error.rs
  identity_storage/src/storage/error.rs
Labels: Wasm, Patch

#1389 Hotfix wasm-v1.3.1
  bindings/wasm/CHANGELOG.md
  bindings/wasm/Cargo.toml
  bindings/wasm/package-lock.json
  bindings/wasm/package.json
Labels: No changelog
