Repository iotaledger/identity, pull requests merged in 2025-05, with the labels that each got.

#1655 Add support for `DelegationToken` and `ControllerToken`
  .github/actions/iota-rebase-sandbox/setup/action.yml
  .gitignore
  bindings/wasm/identity_wasm/lib/controller.ts
  bindings/wasm/identity_wasm/lib/index.ts
  bindings/wasm/identity_wasm/src/lib.rs
  bindings/wasm/identity_wasm/src/rebased/controller.rs
  bindings/wasm/identity_wasm/src/rebased/identity.rs
  bindings/wasm/identity_wasm/src/rebased/mod.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/config_change.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/send.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/update_did.rs
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/borrow_asset.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/config.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/controller.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/controller_execution.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/create.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/index.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/proposal.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/send_asset.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/update.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/identity/upgrade.ts
  bindings/wasm/iota_interaction_ts/lib/move_calls/utils.ts
  bindings/wasm/iota_interaction_ts/src/identity_move_calls.rs
  identity_iota_core/packages/iota_identity/Move.lock
  identity_iota_core/packages/iota_identity/Move.toml
  identity_iota_core/packages/iota_identity/sources/asset.move
  identity_iota_core/packages/iota_identity/sources/controller.move
  identity_iota_core/packages/iota_identity/sources/identity.move
  identity_iota_core/packages/iota_identity/sources/migration.move
  identity_iota_core/packages/iota_identity/sources/migration_registry.move
  identity_iota_core/packages/iota_identity/sources/multicontroller.move
  identity_iota_core/packages/iota_identity/sources/permissions.move
  identity_iota_core/packages/iota_identity/sources/proposals/borrow.move
  identity_iota_core/packages/iota_identity/sources/proposals/config.move
  identity_iota_core/packages/iota_identity/sources/proposals/controller.move
  identity_iota_core/packages/iota_identity/sources/proposals/delete.move
  identity_iota_core/packages/iota_identity/sources/proposals/transfer.move
  identity_iota_core/packages/iota_identity/sources/proposals/upgrade.move
  identity_iota_core/packages/iota_identity/sources/proposals/value.move
  identity_iota_core/packages/iota_identity/sources/public_vc.move
  identity_iota_core/packages/iota_identity/sources/utils.move
  identity_iota_core/scripts/upgrade_identity_package.sh
  identity_iota_core/src/iota_interaction_rust/identity_move_calls.rs
  identity_iota_core/src/rebased/client/full_client.rs
  identity_iota_core/src/rebased/iota/well_known_networks.rs
  identity_iota_core/src/rebased/migration/controller_token.rs
  identity_iota_core/src/rebased/migration/identity.rs
  identity_iota_core/src/rebased/proposals/borrow.rs
  identity_iota_core/src/rebased/proposals/config_change.rs
  identity_iota_core/src/rebased/proposals/controller.rs
  identity_iota_core/src/rebased/proposals/mod.rs
  identity_iota_core/src/rebased/proposals/send.rs
  identity_iota_core/src/rebased/proposals/update_did_doc.rs
  identity_iota_core/src/rebased/proposals/upgrade.rs
  identity_iota_core/tests/e2e/identity.rs
  identity_iota_interaction/src/move_call_traits.rs
Labels: Wasm, Added, Rust, Move

#1661 Release IotaIdentity package on Mainnet
  .github/actions/iota-rebase-sandbox/load-keytool/action.yml
  identity_iota_core/packages/iota_identity/Move.lock
  identity_iota_core/src/rebased/iota/well_known_networks.rs
Labels: Chore, No changelog

#1654 Add traits to convert key types from and to `Jwk`
  identity_iota_core/tests/e2e/asset.rs
  identity_iota_core/tests/e2e/common.rs
  identity_iota_core/tests/e2e/identity.rs
  identity_jose/Cargo.toml
  identity_jose/src/error.rs
  identity_jose/src/jwk/conversion/ed25519.rs
  identity_jose/src/jwk/conversion/from_jwk.rs
  identity_jose/src/jwk/conversion/mod.rs
  identity_jose/src/jwk/conversion/secp256k1.rs
  identity_jose/src/jwk/conversion/secp256r1.rs
  identity_jose/src/jwk/conversion/to_jwk.rs
  identity_jose/src/jwk/mod.rs
  identity_storage/Cargo.toml
  identity_storage/src/key_storage/ed25519.rs
  identity_storage/src/key_storage/keytool.rs
  identity_storage/src/key_storage/memstore.rs
  identity_storage/src/key_storage/mod.rs
  identity_storage/src/key_storage/tests/utils.rs
  identity_storage/src/storage/storage_signer.rs
  identity_verification/Cargo.toml
Labels: Added, Rust

#1664 Feat/package registry
  bindings/wasm/identity_wasm/.cargo/config.toml
  bindings/wasm/identity_wasm/Cargo.toml
  bindings/wasm/identity_wasm/examples/src/0_basic/0_create_did.ts
  bindings/wasm/identity_wasm/examples/src/0_basic/1_update_did.ts
  bindings/wasm/identity_wasm/examples/src/0_basic/2_resolve_did.ts
  bindings/wasm/identity_wasm/examples/src/0_basic/3_deactivate_did.ts
  bindings/wasm/identity_wasm/examples/src/0_basic/4_delete_did.ts
  bindings/wasm/identity_wasm/examples/src/0_basic/5_create_vc.ts
  bindings/wasm/identity_wasm/examples/src/0_basic/6_create_vp.ts
  bindings/wasm/identity_wasm/examples/src/0_basic/7_revoke_vc.ts
  bindings/wasm/identity_wasm/examples/src/1_advanced/11_advanced_transactions.ts
  bindings/wasm/identity_wasm/examples/src/1_advanced/4_custom_resolution.ts
  bindings/wasm/identity_wasm/examples/src/1_advanced/5_domain_linkage.ts
  bindings/wasm/identity_wasm/examples/src/1_advanced/6_sd_jwt.ts
  bindings/wasm/identity_wasm/examples/src/1_advanced/7_status_list_2021.ts
  bindings/wasm/identity_wasm/examples/src/1_advanced/8_zkp.ts
  bindings/wasm/identity_wasm/examples/src/1_advanced/9_zkp_revocation.ts
  bindings/wasm/identity_wasm/lib/proposal.ts
  bindings/wasm/identity_wasm/src/rebased/controller.rs
  bindings/wasm/identity_wasm/src/rebased/core_client.rs
  bindings/wasm/identity_wasm/src/rebased/identity.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/config_change.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/send.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/update_did.rs
  bindings/wasm/identity_wasm/src/rebased/wasm_identity_client.rs
  bindings/wasm/identity_wasm/src/rebased/wasm_identity_client_read_only.rs
  bindings/wasm/iota_interaction_ts/src/iota_client_ts_sdk.rs
  examples/0_basic/4_delete_did.rs
  examples/1_advanced/12_advanced_transactions.rs
  identity_iota_core/Cargo.toml
  identity_iota_core/packages/iota_identity/Move.lock
  identity_iota_core/src/iota_interaction_rust/iota_client_rust_sdk.rs
  identity_iota_core/src/rebased/client/full_client.rs
  identity_iota_core/src/rebased/client/read_only.rs
  identity_iota_core/src/rebased/iota/mod.rs
  identity_iota_core/src/rebased/iota/package.rs
  identity_iota_core/src/rebased/iota/well_known_networks.rs
  identity_iota_core/src/rebased/migration/alias.rs
  identity_iota_core/src/rebased/migration/controller_token.rs
  identity_iota_core/src/rebased/migration/identity.rs
  identity_iota_core/src/rebased/migration/registry.rs
  identity_iota_core/src/rebased/proposals/borrow.rs
  identity_iota_core/src/rebased/proposals/config_change.rs
  identity_iota_core/src/rebased/proposals/controller.rs
  identity_iota_core/src/rebased/proposals/mod.rs
  identity_iota_core/src/rebased/proposals/send.rs
  identity_iota_core/src/rebased/proposals/update_did_doc.rs
  identity_iota_core/src/rebased/proposals/upgrade.rs
  identity_iota_core/tests/e2e/asset.rs
  identity_iota_core/tests/e2e/client.rs
  identity_iota_core/tests/e2e/identity.rs
Labels: Enhancement, Wasm, Added, Rust

#1667 Product core integration with core client
  Cargo.toml
  bindings/wasm/build/replace_paths.js
  bindings/wasm/identity_wasm/Cargo.toml
  bindings/wasm/identity_wasm/lib/core_client.ts
  bindings/wasm/identity_wasm/lib/index.ts
  bindings/wasm/identity_wasm/lib/proposal.ts
  bindings/wasm/identity_wasm/lib/transaction_internal.ts
  bindings/wasm/identity_wasm/lib/tsconfig.json
  bindings/wasm/identity_wasm/lib/tsconfig.web.json
  bindings/wasm/identity_wasm/package-lock.json
  bindings/wasm/identity_wasm/package.json
  bindings/wasm/identity_wasm/src/error.rs
  bindings/wasm/identity_wasm/src/iota/iota_did.rs
  bindings/wasm/identity_wasm/src/iota/iota_document.rs
  bindings/wasm/identity_wasm/src/rebased/controller.rs
  bindings/wasm/identity_wasm/src/rebased/core_client.rs
  bindings/wasm/identity_wasm/src/rebased/identity.rs
  bindings/wasm/identity_wasm/src/rebased/mod.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/config_change.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/send.rs
  bindings/wasm/identity_wasm/src/rebased/proposals/update_did.rs
  bindings/wasm/identity_wasm/src/rebased/transaction_builder.rs
  bindings/wasm/identity_wasm/src/rebased/wasm_identity_client.rs
  bindings/wasm/identity_wasm/src/storage/mod.rs
  bindings/wasm/identity_wasm/src/storage/wasm_transaction_signer.rs
  examples/1_advanced/10_zkp_revocation.rs
  examples/1_advanced/12_advanced_transactions.rs
  examples/1_advanced/9_zkp.rs
  examples/Cargo.toml
  identity_iota/Cargo.toml
  identity_iota_core/Cargo.toml
  identity_iota_core/src/did/iota_did.rs
  identity_iota_core/src/document/iota_document.rs
  identity_iota_core/src/rebased/assets/asset.rs
  identity_iota_core/src/rebased/assets/public_available_vc.rs
  identity_iota_core/src/rebased/client/full_client.rs
  identity_iota_core/src/rebased/client/read_only.rs
  identity_iota_core/src/rebased/iota/package.rs
  identity_iota_core/src/rebased/migration/alias.rs
  identity_iota_core/src/rebased/migration/controller_token.rs
  identity_iota_core/src/rebased/migration/identity.rs
  identity_iota_core/src/rebased/migration/registry.rs
  identity_iota_core/src/rebased/proposals/borrow.rs
  identity_iota_core/src/rebased/proposals/config_change.rs
  identity_iota_core/src/rebased/proposals/controller.rs
  identity_iota_core/src/rebased/proposals/mod.rs
  identity_iota_core/src/rebased/proposals/send.rs
  identity_iota_core/src/rebased/proposals/update_did_doc.rs
  identity_iota_core/src/rebased/proposals/upgrade.rs
  identity_iota_core/tests/e2e/asset.rs
  identity_iota_core/tests/e2e/common.rs
  identity_iota_core/tests/e2e/identity.rs
  identity_jose/Cargo.toml
  identity_storage/Cargo.toml
  identity_storage/src/key_storage/keytool.rs
Labels: Wasm, Chore, No changelog, Rust

#1668 Bump package version to 1.6.0-beta
  bindings/wasm/identity_wasm/Cargo.toml
  examples/Cargo.toml
  identity_core/Cargo.toml
  identity_credential/Cargo.toml
  identity_did/Cargo.toml
  identity_document/Cargo.toml
  identity_ecdsa_verifier/Cargo.toml
  identity_eddsa_verifier/Cargo.toml
  identity_iota/Cargo.toml
  identity_iota_core/Cargo.toml
  identity_jose/Cargo.toml
  identity_resolver/Cargo.toml
  identity_storage/Cargo.toml
  identity_stronghold/Cargo.toml
  identity_verification/Cargo.toml
Labels: Chore, No changelog
